<footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <p>&copy; 2024 Recipe Saver. All rights reserved.</p>
    <p>This is a student project for SETU Waterford.</p>
    <p>Created by: {{info.creator.name}}</p>
  </div>
</footer>
