
<div style="background-color: #004080; padding: 1rem 2rem; display: flex; align-items: center; justify-content: space-between; width: 100%;">

  <div style="flex-grow: 1; text-align: center;">
    <h2 style="color: white; margin: 0;">Recipe Saver</h2>
  </div>

  <div style="flex-shrink: 0;">
    {{#if user.avatar}}
      <a href="/profile" class="ui circular image" style="height: 38px; width: 38px; overflow: hidden;">
        <img src="{{user.avatar}}" style="object-fit: cover; height: 100%; width: 100%;" alt="Avatar">
      </a>
    {{else}}
      <a href="/profile" class="ui circular icon button" style="background-color: #0059b3; color: white;">
        <i class="user icon"></i>
      </a>
    {{/if}}

  </div>
</div>

<div class="ui four item inverted blue menu" style="margin: 0; border-radius: 0; width: 100%;">

  <a class="item" href="/catalogue">Catalogue</a>
  <a class="item" href="/myrecipes">My Recipes</a>
  <a class="item" href="/search">Search</a>
  <a class="item" href="/about">About</a>

</div>
