<!--  Fluid Navigation Menu -->
<div class="ui fluid menu">
  
  <!--  Left Dropdown Button (Menu Icon) -->
  <div class="ui simple dropdown item">
    <i class="bars icon"></i> <!-- ☰ Menu Icon -->
    
    <!--  Dropdown Menu Items -->
    <div class="menu">
      <a class="item" href="/">Home</a> <!--  Home Link -->
      <a class="item" href="/catalogue">Catalogue</a> <!--  Catalogue Link -->
      <a class="item" href="/addRecipe">Add Recipe</a> <!--  Add Recipe Link -->
      <a class="item" href="/about">About</a> <!--  About Page Link -->
    </div>
  </div>

  <!--  Centered Title (Recipe Saver) -->
  <div class="header item" style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <span class="ui header">Recipe Saver</span> <!--  Website Title -->
  </div>
  
  <!--  Right-Aligned Search Bar -->
  <div class="right item" id="searchBar">
    <div class="ui transparent input">
      <input type="text" placeholder="Search..."> <!--  Search Input -->
    </div>
  </div>

</div>
