{{> menu}} <!-- Include the navigation menu -->
<section class="ui segment">
  <form class="ui form" action="/myrecipes/add" method="POST" enctype="multipart/form-data">
    {{> recipeForm recipe=recipe allowedAllergies=allowedAllergies}}
    <div class="ui center aligned container" style="margin-top: 20px;">
      <button class="ui primary button" type="submit">Submit Recipe</button>
    </div>
  </form>
</section>