{{> menu}} <!-- Include the navigation menu -->

<!-- Main Section -->
<section class="ui left aligned middle aligned segment">

  <!-- Page Title -->
  <h2 class="ui center aligned header">Recipe Catalogue</h2>

  <!-- Display Message If No Recipes Are Available -->
  {{#unless recipes.length}}
    <h3 class="ui message">No recipes yet. You can add them in My Recipes page.</h3>
  {{/unless}}
  
  <form class="ui form" method="GET" style="margin-bottom: 1rem;">
  <div class="inline fields">
    <label>Sort by:</label>
    <div class="field">
      <select name="sort" class="ui dropdown" onchange="this.form.submit()">
        <option value="date" {{#ifeq sortBy "date"}}selected{{/ifeq}}>Newest First</option>
        <option value="rating" {{#ifeq sortBy "rating"}}selected{{/ifeq}}>Top Rated</option>
      </select>
    </div>
  </div>
</form>


  <!-- Loop Through Recipes -->
  {{#each recipes}}
    {{> shortRecipe}}



    <div class="ui container" style="margin-bottom: 2rem;">
      <a href="/recipe/{{id}}" class="ui fluid button">
        <i class="play icon"></i> View Recipe
      </a>
    </div>
  {{/each}}

  <!-- Pagination -->
  {{> pagination}}

</section>

{{> footer}}
