{{> welcomemenu }}

<section class="ui center aligned middle aligned segment" style="height: 70vh; display: flex; flex-direction: column; justify-content: center;">

  <h1 class="ui header">Welcome to Recipe Saver</h1>
  <p class="ui large text">Please log in or sign up to start managing your recipes.</p>

  <div class="ui two column centered grid" style="margin-top: 2rem;">
    <div class="column center aligned">
      <a href="/login" class="ui primary huge button">Login</a>
    </div>
    <div class="column center aligned">
      <a href="/signup" class="ui secondary huge button">Sign Up</a>
    </div>
  </div>

</section>

{{> footer }}
